baseURL = ""
languageCode = "jp"
title = "餅ツ記"
publishDir = "../docs" # hugoコマンドを実行したときに格納されるディレクトリ
relativeURLs = true #相対パスで保存に変更
theme = "beautifulhugo"

[markup.goldmark.renderer]
unsafe = true

[author]
name = "きな"
bio = "Likes pixel art."

copyright = "Copyright © 2022 kina"