baseURL = "https://okina-kina.github.io/manekinako" 
languageCode = "en-us" 
publishDir = "../docs" # hugoコマンドを実行したときに格納されるディレクトリ
# relativeURLs = true #相対パスで保存に変更
theme = "beautifulhugo" 
title = "餅ツ記" 
summaryLength = 100
HackCJKLanguage = true

[markup.goldmark.renderer]
unsafe = true

[Params]
readingTime = true
wordCount = true
showRelatedPosts = true
logo = "img/logo.png"
since = "2022"

[[Params.bigimg]]
src = "img/bigimg.png"

[Author]
name = "きな"
email = "kina01417@gmail.com"
twitter = "okinakina"
skeb = "okinaKina"

#----------------------------------------------------------
# [languages]
#  [languages.en] 
#   contentDir = "content/en" # English
# [languages.ja]
# contentDir = "content/ja" # Japanese

#----------------------------------------------------------
# ヘッダに追加
[[menu.main]]
identifier = 'About'
name = 'About'
url = '../about'
weight = -120

[[menu.main]]
identifier = 'Works'
name = 'Works'
url = '../works'
weight = -110

[[menu.main]]
name = 'Blog'
post = "<span class='alert'>New!</span>"
url = '../entries'
weight = -100

[[menu.main]]
name = 'Contact'
url = '../contact'
weight = -90